body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: black;
}
svg{
    visibility: hidden;
    width: 200px;
    height: auto;
}