body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
svg{
    visibility: hidden;
    width: 500px;
    height: auto;
}